body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
}

section#games {
    margin: 20px;
}

.game {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
